@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Space+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


body {
    background-color: #f1f1f1;
    /* font-family: 'Source Code Pro',
    monospace; */

    /* font-family: 'Space Mono',
    monospace; */

    font-family: 'Montserrat',
    sans-serif;


}

h1,h2,h3,h4,h5 {
    font-family: 'Montserrat',
    sans-serif;

}



code {
    color: white;
}

.logo {
    max-height: 70px;
    max-width: 70px;
}

html {
    scroll-behavior: smooth;
}


ul.list-group {
    width: inherit !important;
}

a {
    color: white;
    padding: 20px;
    
}

a:hover {
    color: white;
}


.sidebarUI li a:hover {
    color: #757575 !important;
}

.sidebarUI li {
    list-style: none;
    border-bottom: solid#757575 1px;
}

.sidebarUI li a:active {
    /* background-color: green !important; */
}

.footer, .footer-copyright, header {
    background-color: #121212 !important;
}

